/*CSS FOR MESSAGING PAGE*/
.AllyBot_Logo{
  text-align: center;
}

.AllyBot_Logo img{
  width: 8.5%;
}

.wallpaper {
    background-image: url(/static/media/wall-1x.0067f57c.png);
    background-position: center center;
    height: 86.5vh;
    position: relative;
    margin-top: -3.3%;
}

.Ally-replies {
    position: absolute;

    top: 33%;
    border: 5px solid gray;
    padding: 5px;
    background: white;
    width: 75%;
    height: 50%;
    overflow-y: scroll;
    left: 12%;
}
/*.Header{
  font-family: sans-serif;
  text-align: center;
  position: fixed;
  color: white;
  top: 0%;
  width: 100%;
  height: 13%;
  background-color: black;

}*/
.Text-field{
  position: fixed;
  background-color: ;
  height: 20%;
  bottom: 0%;
  width: 75%;
  left: 16%;
}

#usr_input{
  position: fixed;
  width: 60%;
  height: 30px;
  top: 89%;

}
#send_button {
    position: fixed;
    width: 8%;
    top: 89%;
    /*left: 78%;*/
    right:15.5%;
    height: 36px;
}

#logo{
  position: fixed;
  left: 4%;
  top: 3.6%;
  text-align: center;
}
.ally_message {
  background: #c81e2b none repeat scroll 0 0;
  border-radius: 12px;
  color: #212121;
  display: block;
  float: left;
  font-size: 13px;
  padding: 8px 16px;
  position: relative;
}
.user_message {
  background: black none repeat scroll 0 0;
  border-radius: 12px;
  color: white;
  display: block;
  float: right;
  font-size: 13px;
  padding: 8px 16px;
  position: relative;
}


.ChatBox{
  position: relative;
  top: 8%;
  background: #FFFFFF;
  margin: 50px auto;
  border-top: 3px solid #c53146;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  background: white;
  width: 90%;
  height: 85%;
  /*left: 5%;*/
}
