.Ally-replies{
    position: fixed;
    top: 13%;
    border: 5px solid gray;
    padding: 5px;
    background: white;
    width: 90%;
    height: 70%;
    overflow-y: scroll;
    left: 5%
}
.Header{
  font-family: sans-serif;
  text-align: center;
  position: fixed;
  color: white;
  top: 0%;
  width: 100%;
  height: 13%;
  background-color: black;

}
.Text-field{

  position: fixed;
  background-color: ;
  width: 100%;
  height: 20%;
  bottom: 0%;
}

#text{
  position: fixed;
  width: 90%;
  height: 30px;
  top: 89%;

}
#submit{
  position: fixed;
  width: 9.5%;
  top: 89%;
  left: 90%;
  height: 36px;
}

#logo{
  position: fixed;
  left: 4%;
  top: 3.6%;
  text-align: center;
}
